h1 {
  text-align: center;
}

img#current-beer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 415px;
}

div#buttons {
  text-align: center;
}

div#buttons button {
  margin: 3px;
  width: 200px;
}

div#past-beers {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 608px;
}

div#past-beers ul {
  display: table-cell;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

div#past-beers li {
  padding: 0px;
  margin: 3px;
}

div#past-beers img {
  height: 50px;
  width: 50px;
  padding: 0px 6px;
}

.tooltip-inner {
  white-space:pre;
  max-width:none;
}

div#past-beers button {
  position:absolute;
  bottom:0;
  left:0;
  display: table-cell;
  width: 52px;
  height: 52px;
  margin: 0px 3px 3px 3px;
}
