h1 {
  text-align: center;
}


img#current-beer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

button {
  width: 200px;
}

#img-preload {
  background: no-repeat -9999px -9999px;
}

div#past-beers {
  display:inline-block;
}

ul#past-beers-list li {
  display:inline;
}

ul#past-beers-list img {
  height: 50px;
  width: 50px;
  padding: 0px 6px;
}

div#buttons {
  text-align: center;
}

